
<!--
  TODO

  - Make timezone edittable
  - Verify astronomical events move w timezone)
  - print CSS!
-->
<script context="module">
  export const prerender = true;
</script>

<script>
  import Counter from '$lib/Counter/index.svelte';
  import SymCalendar from '$lib/SymCalendar/index.svelte';
  import { SymYear } from '$lib/SymCalendar/symyear.js';

  export let tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
  let todaySymYear = new SymYear({date: new Date()});
  let size = 5;
  let year = todaySymYear.year - Math.floor((size - 1) / 2);
  $: endYear = year + size - 1;
  $: years = [...Array(size).keys()].map((n) => n + year);
  $: symYears = years.map((n) => new SymYear({year: n, tz: tz}));
  let activeYear = todaySymYear.year;
  let activeDayOfYear = todaySymYear.fromDayOfYear;

  let incrementYear = function(amount) {
    year = year + amount;
  }
  let expandRange = function() {
    size = size + 1;
  }
  let contractRange = function() {
    if (size == 1) return;
    size = size - 1;
  }
  let activeDay;
  $: if (activeYear >= year && activeYear <= endYear && symYears[activeYear - year].days) {
    activeDay = symYears[activeYear - year].days[activeDayOfYear - 1];
  }
  let centerToday = function() {
    let todaySymYear = new SymYear({date: new Date()});
    year = todaySymYear.year - Math.floor((size - 1) / 2);
    activeYear = todaySymYear.year;
    activeDayOfYear = todaySymYear.fromDayOfYear;
    console.log(todaySymYear);
  }
  let logDebugInfo = function() {
    console.log({
      todaySymYear: todaySymYear,
      size: size,
      year: year,
      endYear: endYear,
      years: years,
      symYears: symYears,
      activeYear: activeYear,
      activeDayOfYear: activeDayOfYear,
      activeDay: activeDay
    });
  }
  /*
  $: {
    console.log({symYears: symYears, activeYear: activeYear, activeDayOfYear: activeDayOfYear, activeDay: activeDay});
  } */
</script>

<svelte:head>
  <title>{year}-{endYear} life calendar</title>
</svelte:head>
<section>
  <p><strong>{year}-{endYear}</strong>&nbsp;
    <span class="controls">
      <button on:click={() => centerToday()}>☉</button>&nbsp;
      <button on:click={() => incrementYear(1)}>↓</button>&nbsp;
      <button on:click={() => incrementYear(-1)}>↑</button>&nbsp;
      <button on:click={() => expandRange()}>+</button>&nbsp;
      <button on:click={() => contractRange()}>-</button>&nbsp;
      {#if activeDay && activeDay.short && activeDay.date}
      <span on:click={() => console.log(activeDay)}>{activeDay.short}</span>&nbsp;
      <span>{activeDay.date.toLocaleDateString('en-US', { timeZone: tz })}</span>&nbsp;
      <span>{activeDay.season}</span>&nbsp;
      <span>{activeDay.zodiac}</span>&nbsp;
      {/if}
    </span>
  </p>
  {#each symYears as sY}
  <SymCalendar bind:activeYear={activeYear} bind:activeDayOfYear={activeDayOfYear} bind:symYear={sY} />
  {/each}
  <p class="timezone-note"><small>Leap weeks based on the open source, public domain <a href="https://individual.utoronto.ca/kalendis/symmetry.htm" target="_blank">Symmetry454 Calendar arithmetic by Dr. Irv Bromberg</a></small><br><small>Equinoxes, solstices and zodiac dates displayed in current time zone: {tz}</small><br><small><a class="green" on:click={() => logDebugInfo()}>log debug info in console</a></small></p>
  <!--<Counter bind:activeDate={activeDate} />
  -->
</section>

<style>
  button {
    cursor: pointer;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .timezone-note {
    color: gray;
    text-align: center;
  }
  .green {
    cursor: pointer;
  }
  @media print {
    .green {
      display: none;
    }
    .controls {
      display: none;
    }
  }
</style>
