<script context="module">
  export const prerender = true;
</script>

<script>
  import Counter from '$lib/Counter/index.svelte';
  import YearRow from '$lib/YearRow/index.svelte';
  import symcal from '$lib/Symcal/symcal.js'

  //let convertdate = new Date('1995-12-17T03:24:00');
  let activeDate = symcal.from(new Date());
</script>

<svelte:head>
  <title>Home</title>
</svelte:head>

<section>
  <Counter bind:activeDate={activeDate} />
  <YearRow bind:activeDate={activeDate} />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
</style>
