<script>
  import symcal from '$lib/Symcal/symcal.js';
  let years = new Array(50);
  let startYear = 2000;
  let getVernalEquinox = function (y) {
    //var sD = symcal.from(y, 1);
    var seasons = symcal.getSeasons(y);
    var vE = seasons.ari.date;
    var tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
    return vE.toLocaleString('en-US', { timeZone: tz });
  }
</script>
<ul>
  {#each years as y, i}
  <li>{startYear + i} - {getVernalEquinox(startYear + i)}</li>
  {/each}
</ul>
