<script>
  import { SymYear } from '$lib/SymCalendar/symyear.js';

  export let debug = false;
  export let activeDayOfYear, activeYear, symYear;
  export let tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
  $: activeDay = (symYear.year == activeYear) ? symYear.days[activeDayOfYear]: null;
  let setCurDate = function(day) {
    if (day.omitLeapDay) {
      return;
    }
    activeYear = symYear.year;
    activeDayOfYear = day.dayOfYear;
  }

</script>

<div class="container debug-{debug ? "true" : "false"}">
  <div class="year">
    {#each symYear.months as weeks, h}
    {#each weeks as week, i}
    <div class="week"
    class:first={h == 0 && i == 0}
    class:monthFinal={h < 11 && (((h + 2) % 3 == 0) ? i == 4 : i == 3)}
    class:final={(h == 11 && i == 3 && !symYear.isLeap) || (h == 11 && i == 4 && symYear.isLeap)}
    class:invisible={h == 11 && i == 4 && !symYear.isLeap}
    >
    {#each week as day, j}
    <div
    class="day {day.season} {day.zodiac}"
    class:first={j == 0}
    class:last={j == 6}
    class:startweekend={j == 5}
    class:weekend={j == 6 || j == 5}
    class:active={symYear.year == activeYear && day.dayOfYear == activeDayOfYear}
    on:click={() => setCurDate(day)}>
    <!--{day.greg.date.toString()}<br> -->
    <span class="text {day.textClass}">{@html day.text }</span>
  </div>
  {/each}
                <!--
        <div
        class="day"
        class:last={j == 6}
        class:weekend={j == 6 || j == 5}
        class:active={activeDay.yearWeek - 1 == i && activeDay.dayOfWeek - 1 == j}
        > -->
        <!--
          on:click={() => setCurDate(sYear, i, j)}
          href="/{day.short}"-->
        </div>
        {/each}
        {/each}
      </div>
    </div>

    <style>
      /*
      .day.W, .day.w, .day.winter { background: cyan }
      .day.P, .day.p, .day.spring { background: lightgreen; }
      .day.S, .day.s, .day.summer { background: yellow; }
      .day.F, .day.f, .day.fall { background: orange; }
      */
      .container {
        width: 100%;
      }
      .conversion {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .conversion p {
        flex: 1;
        text-align: center;
      }
      .year {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .week {
        flex: 1;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        border-right: 1px solid lightgray;
      }
      .week.first {
        border-left: 1px solid lightgray;
      }
      .week.invisible {
        border-color: transparent;
      }
      .day {
        background: white;
        cursor: pointer;
        font-size: 0.7em;
        min-height: 1.4em !important;
        color: #666;
        flex: 1;
        text-align: center;
        vertical-align: middle;
        border-top: 1px solid lightgray;
      }
      .day .text {
        display:  block;
        vertical-align: middle;
        min-height: 100%;
        min-height: 1.3em;
        padding-top: 0.1em;
      }
      .day.last {
        border-bottom: 1px solid lightgray;
      }
      .day.active {
        font-weight: bold;
        background: gray;
      }
      .invisible .day {
        background: transparent;
        border-color: transparent;
      }

      .debug-false .invisible .day .text {
        visibility: hidden;
      }
      .weekend {
        background: #eee;
      }
      .firstGregMonth {
        font-weight: bold;
      }
      @media print {

        .day {
          font-size:7pt !important;
          height: 16pt;
          flex: 1;
          text-align: center;
          vertical-align: center;
          border-top: 1px solid lightgray;
        }
        .day.first {
          border-top: 1px solid black;
        }
        .day.last {
          border-bottom: 1px solid black;
        }
        .container {
          margin-bottom: 2em;
        }
        .week {
          flex: 1;
          justify-content: space-between;
          display: flex;
          flex-direction: column;
          border-right: 1px solid gray;
        }
        .week.first {
          border-left: 1px solid black;
        }
        .week.invisible,
        .week.invisible .day.first,
        .week.invisible .day.last {
          border-color: transparent;
        }
        .week.monthFinal,
        .week.final {
          border-right: 1px solid black;
        }
        .startweekend {
          border-top: 1px solid black;
        }
      }
    </style>
