
<script context="module">
  export const prerender = true;
</script>

<script>
  import symcal from '$lib/Symcal/symcal.js';

  export let seasons, activeDate;
  export let activeWeek, activeDay = false;

  $: if (!activeDate) {
    activeDate = symcal.from(new Date());
  }
  $: janOne = symcal.from(activeDate.year, 1);
  $: if (activeWeek == 52 && janOne.daysInYear == 364) {
    activeWeek = activeWeek - 1;
  }
  $: activeDayOfYear = activeWeek * 7 + activeDay + 1;
  /*
  $: if (activeDayOfYear) {
    activeDate = symcal.from(activeDate.year, activeDayOfYear);
    seasons = symcal.getSeasons(activeDate.greg.date.getFullYear());
    console.log({
      janOne: janOne,
      activeDate: activeDate,
      activeWeek: activeWeek,
      activeDayOfYear: activeDayOfYear,
      seasons: seasons
    });
  }*/
  let createYearWeeks = function(y) {
    var weeks = new Array();
    for (var w = 0; w <= 52; w++) {
      var week = new Array();
      for (var d = 0; d <= 6; d++) {
        week.push(symcal.from(y, w * 7 + d + 1));
      }
      weeks.push(week);
    }
    return weeks;
  }

  $: weeks = createYearWeeks(activeDate.year);

  let setCurDate = function(year, week, day) {
    activeDate = symcal.from(year, week * 7 + day + 1)
  }

  let checkActiveDate = function() {
    if (activeDate.year) {
      if (activeDate.year != activeDate.year && activeDate.dayOfYear) {
        activeDate = symcal.from(activeDate.year, activeDate.dayOfYear);
      }
    }
  }
</script>

<svelte:head>
  <title>Home</title>
</svelte:head>

<div class="container">
  {#if activeDate}
  <div class="conversion">
    <p>{activeDate.greg.full}</p>
    <p>{activeDate.medium}</p>
  </div>
  {:else}
  <p>Click a cell to select a date</p>
  {/if}
  <div class="year">
    {#each weeks as week, i}
    <div class="week"
    class:first={i == 0}
    class:invisible={i == 52 && !janOne.isLeap}
    >
    {#each week as day, j}
    <div
    class="day {day.season} {day.zodiac}"
    class:last={j == 6}
    class:weekend={j == 6 || j == 5}
    class:active={activeDate.yearWeek - 1 == i && activeDate.dayOfWeek - 1 == j}
    on:click={() => setCurDate(activeDate.year, i, j)}>
    <!--{day.greg.date.toString()}<br> -->
    {day.season}&nbsp;
  </div>
  {/each}
                <!--
        <div
        class="day"
        class:last={j == 6}
        class:weekend={j == 6 || j == 5}
        class:active={activeDate.yearWeek - 1 == i && activeDate.dayOfWeek - 1 == j}
        > -->
        <!--
          on:click={() => setCurDate(sYear, i, j)}
          href="/{day.short}"-->
        </div>
        {/each}
      </div>
      {#if activeDate }
      {#if activeDate.year == (janOne.year + 1) }
      <p>Next year is active!</p>
      {/if}
      {/if}
    </div>

    <style>
      .day.W, .day.w { background: cyan }
      .day.P, .day.p { background: lightgreen; }
      .day.S, .day.s { background: yellow; }
      .day.F, .day.f { background: orange; }

      .container {
        width: 100%;
      }
      .conversion {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .conversion p {
        flex: 1;
        text-align: center;
      }
      .year {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .week {
        flex: 1;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        border-right: 1px solid lightgray;
      }
      .week.first {
        border-left: 1px solid lightgray;
      }
      .week.invisible {
        border-color: transparent;
      }
      .day {
        background: white;
        cursor: pointer;
        flex: 1;
        text-align: center;
        vertical-align: center;
        border-top: 1px solid lightgray;
      }
      .day.last {
        border-bottom: 1px solid lightgray;
      }
      .day.active {
        font-weight: bold;
        background: gray;
      }
      .invisible .day {
        background: transparent;
        border-color: transparent;
      }
      .weekend {
        background: #eee;
      }
    </style>
