<script context="module">
  export async function load({ page, fetch, session, context }) {
    /*
    let year = page.params.year;
    let month = page.params.month;
    let week = page.params.week;
    let day = page.params.day;
    */
    return {
      props: page.params
    }
  }
  export const prerender = true;
</script>

<script>
  import Counter from '$lib/Counter/index.svelte';
  import YearRow from '$lib/YearRow/index.svelte';
  import symcal from '$lib/Symcal/symcal.js';

  export let year, month, week, day, activeDate;
  let getActiveDate = function (y, m, w, d) {
    var months = {
      Jan: 0,
      Feb: 28,
      Mar: 63,
      Apr: 91,
      May: 119,
      Jun: 154,
      Jul: 182,
      Aug: 210,
      Sep: 245,
      Oct: 273,
      Nov: 301,
      Dec: 336
    };
    var days = {
      Mon: 0,
      Tue: 1,
      Wed: 2,
      Thu: 3,
      Fri: 4,
      Sat: 5,
      Sun: 6
    }
    var dayOfYear = months[m] + (w - 1) * 7 + days[d] + 1;
    return symcal.from(y, dayOfYear);
  }
  $: activeDate = getActiveDate(year, month, week, day);
</script>

<svelte:head>
  <title>Home</title>
</svelte:head>

<section>
  <p>{year}/{month}/{week}/{day}</p>
  <Counter bind:count={year} />
  <YearRow sYear={year} bind:activeDate={activeDate} />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
</style>
